/* ----------------------------------------------- */

#product .pro-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product .pro {
  background-color: white;
  width: 200px;
  min-height: 250px;
  padding: 10px 12px;
  margin: 15px 15px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  transition: 0.2 ease;
  cursor: pointer;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 9%);
  position: relative;
}
#product .pro:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.pro img {
  width: 100%;
  border-radius: 20px;
}
#product .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product .pro .des .sp {
  color: #606063;
  font-size: 13px;
  margin-left: 5px;
}
#product .pro .des h5 {
  margin-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #1a1a1a;
  font-size: 15px;
}
#product .pro .des h4 {
  padding-top: 7px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #525252;
}
#product .pro .cart {
  position: absolute;
  color: #606063;
  bottom: 20px;
  right: 15px;
}
/* ------------------------------------ */
